#content { 
	--padding-top: 2rem;
	--background: #0cb0d3;
	--color: white;
	.title-h1 {
		
	}
	.paragraph-p {
		font-weight: 300;
		line-height: 19px;
	}
	#next-button, #login-button {
		--box-shadow: none; 
		--padding-top: 22px;
		--padding-bottom: 22px;  
		padding: 0rem 1.5rem 0rem 1.5rem !important;
		font-size: 20px;
		font-weight: 300; 
	}

	ion-slides {
	  --bullet-background: #777777;
	  --bullet-background-active: white;
	}
}